---
// src/pages/index.astro

import BaseLayout from "../layouts/BaseLayout.astro";
import Card from "../components/Card.astro";
---

<!-- profile2.webp you can remove | Photo <a href="https://unsplash.com/es/@charlesdeluvio?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">charlesdeluvio</a> en <a href="https://unsplash.com/es/fotos/hombre-con-gorro-negro-kVg2DQTAK7c?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
   -->

<!-- You can replace the card's data with your own here. -->
<BaseLayout title="Personal Card Portfolio Astro" description="Meta description. Here goes your page description. Provide a clear and concise summary of the content.">
	<Card
	  name="Gerald Wayne Easlick Shirely"
	  position="Licensed Nursing Home Administrator."
	  aboutMe={`Hi there! I'm Gerald. I am an experienced healthcare leader. I bring 10+ years of healthcare experience with a specialization in Long Term Care Administration. I earned a Bachelor of Science in Business Management, a Master's in Healthcare Leadership, and am currently pursuing a Bachelor's in Cybersecurity and Information Assurance. I am eager to bridge the gap between healthcare and information technology. GRC (Governance, Risk, and Compliance) and how this affects healtcare is a passion of mine.`}
	  linkedin="https://www.linkedin.com/in/gerald-easlick-shirely"
	  github="https://github.com/jerry6576/GRC.Projects"
	  cvLink="/files/gerald-easlick-resume.pdf"
	  profileImage="/images/Z62_7138.jpg"
	/>
</BaseLayout>

<!--
	"Hi there!, I'm Brian. I hope this small template helps you gain visibility while you build great projects. Thank you for using it. I wish you success in everything you set out to do; you will surely achieve great things.

	Here is my GitHub {https://github.com/alcarazbrian}. You can help me by following me, giving a Star to the template, and sharing it so others can see and use it.

	Have a great day!"
 -->
